*.pyc
*.pyo
*.zip
installer/dist/
client/dist/
service/dist/
installer/build/
client/build/
service/build/
client/data/
build/bin/
build/python/
installer/app/
licensing/build/
licensing/dist/
update/build/
update/dist/
update/files/
update/update/
update/del_list.txt
update/meta.json
temp/
temp_repo/
Output/
dist/
env/
key.txt
license.json
*.exe
*.dll
*.log