{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Success!</h1>
        <p class="lead">Application Installed Successfully</p>
        <hr class="my-2">
        <p class="lead">
            Please close this window to proceed.
            To run the application, please click on the "run.exe" located in the application directory. To use the application on a network please ensure that you allow the application through your firewall.
        </p>
    </div>
</div>

{% endblock content %}