{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Thank you for choosing Suave business tools</p>
        <hr class="my-2">
        <p>This installer will guide you through setting up the software.</p>
        <p class="lead">
            <a class="btn btn-primary" href="/eula" role="button">Next</a>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Please make sure you have the following:</h5>
            <ul>
                <li>An active internet connection.</li>
                <li>A valid license file in the same directory as the application.</li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}